@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-light);
}

:root {
  --yellow-gradient: linear-gradient(146deg, #ff7900 -23%, #ffd705 106.55%);
  --purple-gradient: linear-gradient(146deg, #ff38a8 -23%, #7c18dd 106.55%);
  --dark-blue: #14263b;
  --light-blue: #556271;
  --bg-light: #eeeff0;
  --nav-clr: #eeeff04d;
  --light-yellow: #ffd705;
  --bright-yellow: #ff7900;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
}

p {
  color: var(--light-blue);
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

ul {
  list-style: none;
}
